@import 'bootstrap/dist/css/bootstrap.css';
@import url('all.min.css');
@import "@fancyapps/ui/dist/fancybox/fancybox.css";

:root{
    --green: #204941;
    --lightgreen: #989C7A;
}

body{
    color: var(--green) !important;
    font-family: "Lato", sans-serif !important;
}

.row{
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.link-success {
    color: var(--green) !important;
    -webkit-text-decoration-color: var(--green);
    text-decoration-color: var(--green);
}

.text-lightgreen{
    color: var(--lightgreen);
}

.text-green{
    color: var(--green) !important;
}

.fs-0{
    font-size: 62px;
}

.mt-6{
    margin-top: 6rem !important;
}

.mb-6{
    margin-bottom: 6rem !important;
}

.my-6{
    margin-top: 6ch !important;
    margin-bottom: 6rem !important;
}

.fondo-oscuro{
    background-color: rgba(32, 73, 65, 0.35);
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    mix-blend-mode: multiply;
}

.btn-green{
    background-color: var(--green);
    color: white;
    border-radius: 0;
    font-weight: 300;
}

.btn-green:hover{
    color: white;
    background-color: #14312b;
    transition: 0.3s;
}

.btn-outline-green{
    background-color: white;
    color:  var(--green);
    border: 1px solid  var(--green);
    border-radius: 0;
    font-weight: 300;
}

.btn-outline-green:hover{
    color: white;
    background-color: var(--green);
    transition: 0.3s;
}

.bg-green{
    background-color: var(--green);
    color: white;
}

.bg-white{
    color: var(--green) !important;
}

.bg-white .nav-link {
    color: var(--green) !important;
    opacity: 0.9;
}

.bg-green .nav-link {
    color: white !important;
    opacity: 0.9;
}

.bg-green .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
    border-bottom: 2px solid white;
    opacity: 1;
}

.bg-green .nav-link:hover, .nav-link:focus {
    color: white;
    opacity: 1;
    border-bottom: 2px solid white;
}

.btn-light{
    color: var(--green) !important;
}

.green-hr{
    color: var(--green);
    opacity: 1;
}

.border-success {
    border-color: var(--green) !important;
}

.form-control{
    border-radius: 0px;
    border: 1px solid rgba(32, 73, 65, 0.5) !important;
}

.pagination {
    --bs-pagination-color: var(--green);
    --bs-pagination-border-color: var(--lightgreen);
    --bs-pagination-hover-color: var(--green);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: var(--green);
    --bs-pagination-active-border-color: var(--green);
}

.dropdown-item:hover, .dropdown-item:focus {
    color: white;
    background-color: var(--green);
}

.disponible-class polygon, .disponible-class rect{
    fill: rgba(0, 163, 60, 0.7);
    mix-blend-mode: hard-light;
    stroke: white;
    stroke-width: 1px;
    transition: 0.2s;
}

.disponible-class:hover polygon, .disponible-class:hover rect{
    fill: rgba(0, 163, 60, 1);
    transition: 0.2s;
}

.apartada-class polygon, .apartada-class rect{
    fill: rgba(206, 173, 0, 0.7);
    mix-blend-mode: hard-light;
    stroke: white;
    stroke-width: 1px;
    transition: 0.2s;
}

.apartada-class:hover polygon, .apartada-class:hover rect{
    fill: rgba(206, 173, 0, 1);
    transition: 0.2s;
}

.vendida-class polygon, .vendida-class rect{
    fill: rgba(220, 53, 69, 0.7);
    mix-blend-mode: normal;
    stroke: white;
    stroke-width: 1px;
    transition: 0.2s;
}

.vendida-class:hover polygon, .vendida-class:hover rect{
    fill: rgba(220, 53, 69, 1);
    transition: 0.2s;
}

.home-carousel-img{
    height: 80vh;
    object-fit: cover;
}

.gallery-img{
    height: 50%;
}

.main-gallery-img{
    height: 55vh;
}

.login-img{
    height: 500px;
    object-fit: cover;
}

.form-select {
    border: 1px solid rgba(32, 73, 65, 0.5) !important;
    color: var(--green);
    border-radius: 0px;
}

.nav-pills .nav-link {
    color: var(--green);
    border: 1px solid var(--green);
}

.nav-pills .nav-link.active {
    color: white;
    background-color: var(--green);
}

.marked-unit{
    fill: rgba(0, 163, 60, 0.7);
    mix-blend-mode: hard-light;
    stroke: white;
    stroke-width: 1px;
}

.fs-plans{
    font-size: 1.5rem !important
}

.fs-7{
    font-size: 14px !important;
    font-weight: 300;
}

@media (max-width: 992px) {

    .mt-6{
        margin-top: 4.5rem !important;
    }
    
    .mb-6{
        margin-bottom: 4.5rem !important;
    }
    
    .my-6{
        margin-top: 4.5rem !important;
        margin-bottom: 4.5rem !important;
    }

    .fs-0{
        font-size: 40px;
    }

    .home-carousel-img{
        height: initial;
        object-fit: cover;
    }

    .gallery-img{
        height: 100%;
    }

    .main-gallery-img{
        height: 35vh;
    }

    .fs-plans{
        font-size: 1.1rem !important
    }

}